FÜR TTGO LORA

Boards Manager -> 	"esp32" from espressif
Libraries -> 		"ssd1306" from Adafruit
					"gfx" from Adafruit
					"LoRa" from Sandeep Mistry





Benutzte Links:
https://randomnerdtutorials.com/ttgo-lora32-sx1276-arduino-ide/ 

FÜR TTGO GSM

Boards Manager ->	"esp32" from espressif
Libraries ->		"TinyGSM" from vshymanskyy
					"blynk-library" from blynkkk
					"Wire" from Arduino
					"QuickMedianLib" from Luis LLamas
					"esp_sleep" from espressif
					"WiFi" from espressif
					"esp_bt" from espressif
					"esp_wifi" from espressif
					"Wire" from Arduino
					"HCSR04" from Martin Sosic
					"QuickMedianLib" from Luis Llamas
					
				


Benützte Links:
https://randomnerdtutorials.com/esp32-sim800l-publish-data-to-cloud/